.app-list-manager {
	margin: 3rem 0;

	.app-list-manager_list {

		.app-list-manager_input-delete {
			margin: 0;
			outline: 0;
			float: right;
			color: $dark-gray;
			background: $light-gray;
			border-radius: $global-radius;
		}

	}

	.app-list-manager_user-input {
		outline: 0;
		width: 100%;
		display: block;
		border-radius: $global-radius;
	}

	.app-list-manager_user-submit {
		outline: 0;
		width: 100%;
		display: block;
		border-radius: $global-radius;
	}

	.app-list-manager_notification {
		color: $dark-gray;
		border: solid 1px $light-gray;
	}

	.app-list-manager_list {	
	}

}