.app-list-manager {
	margin: 3rem 0;

	.app-list-manager_list {

		.app-list-manager_input-delete {
			margin: 0;
			outline: 0;
			float: right;
		}

	}

	.app-list-manager_user-input {
		outline: 0;
		width: 100%;
		display: block;
	}

	.app-list-manager_user-submit {
		outline: 0;
		width: 100%;
		display: block;
	}

}