.app-list-manager {
	margin: .5rem 0;

	@include breakpoint(medium) {
		margin: 3rem 0;
	}

	.app-list-manager_list {

		.app-list-manager_input-delete {
			margin: 0;
			outline: 0;
			float: right;
			color: $dark-gray;
			background: $light-gray;
			border-radius: $global-radius;

			&:hover, &:focus {
				border-bottom: solid 1px $medium-gray;
			}

		}

	}

	.app-list-manager_user-input {
		outline: 0;
		width: 100%;
		display: block;
		border-radius: $global-radius;
	}

	.app-list-manager_user-submit {
		outline: 0;
		width: 100%;
		display: block;
		border-radius: $global-radius;
	}

	.app-list-manager_notification {
		opacity: 0;
		color: $dark-gray;
		font-size: 0.9rem;
		position: absolute;
		left: .625rem;
		right: .625rem;
		transition: opacity .1s ease-in;
		border: solid 1px $light-gray;
	}

	.app-list-manager_list {
		margin-top: 4rem;
	}

}